.navbar-fx{
    background-color:#ad974f ;
}
.nav-link-fx{
    color:#EAEAEA!important;
    font-weight: bold;
}

/* IMG */
.img-fx-1{
    width: 400px;
    height: 400px;
}

/* TEXT */
.text-fx-1{
    font-size: 30px;
    color: #EAEAEA;
}

/* COL */
.col-fx-1{
    margin-top: 50px;
    color: #EAEAEA;
    text-align: center;
}
.col-fx-2{
    display: flex;
    justify-content: center;
}

/* ROW */
.div-bg-1{
    background-color: #231f20;
}

/* BUTTON */
.button-fx-1{
    padding: 16px 60px!important;
    background-color: #ad974f!important;
    color: #231f20!important;
    font-weight: bold!important;
    font-size: 20px!important;
    margin-top: 30px;
}

/* RECTANGLE */
.rectangle-fx{
    background-color: #ad974f;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}
.rectangle-fx-2{
    background-color: #EAEAEA;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}